
.App {
  text-align: center;
    vertical-align:middle
}

.container{

    margin: 1.5%;
    padding:1.5%;
    border-radius: 4px;
    border-color: black;
    border-style: double;

}

.btn.btn-primary
{
    float: right;
    background-color: lightyellow;
    size: 40px;
    border-radius: 4px;
    padding: .5%;
    margin-right: 25px;
    border-style: inset;
}

.table.tblHeader
{
    font-size: large;
    margin: .2%;
    padding:.5%;
    width:50%;
    text-align:  center;
    vertical-align:middle;
    color:darkgrey;

}
table tblPic{
    vertical-align:middle;
    width:50%;
    align-content: right;
    margin:30px;

}
.table.tblFacts{
    font-size: large;
    margin: .2%;
    padding:.2%;
    vertical-align:middle;
    font-style: italic;
    font-family: "Arial Narrow";
    align-content: center;
    color:darkgrey;

}
